<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chalmers.speedtype"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:name=".application.SpeedTypeApplication"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TimeAttackActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FallingWordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SettingsActivity" android:screenOrientation="portrait"/>
    	<activity android:name="com.swarmconnect.SwarmMainActivity"
		    android:configChanges="orientation|keyboardHidden"
		    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		    android:windowSoftInputMode="stateHidden" />
		<service android:name="com.swarmconnect.NotificationService" android:process=":swarm"/>
	</application>
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>